POSTGRES_DSN=postgresql://quant:quant@localhost:5432/quant_metadata

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET=your-globally-unique-bucket-name

BIGQUERY_DWH_DATASET=your-quant_dwh-name
BIGQUERY_METADATA_DATASET=your-quant_metadata-name

TIINGO_API_TOKEN=your-Tiingo-token